@model LambdaForums.Models.Post.PostIndexModel


    <div class="container body-content">
        <div class="row postHeader">
            <div class="postHeading col">
                <span class="postIndexTitle">
                    @Model.Title
                </span>
            </div>
            @if (User.IsInRole("Admin"))
            {
                <div class="postHeading col-auto">
                    <span id="deleteSpan_@Model.Id" class="float-right">
                        <a class="btn btn-danger btn-deleteHover" onclick="confirmDelete(@Model.Id, true)">Delete</a>
                    </span>
                    <span id="confirmDeleteSpan_@Model.Id" style="display:none">
                        <span>Are you sure you want to delete this post?</span>
                        <a asp-controller="Post"
                           asp-action="Delete"
                           asp-route-forumId="@Model.ForumId"
                           asp-route-postId="@Model.Id" class="btn btn-danger">
                            Yes
                        </a>
                        <a class="btn btn-secondary btn-deleteHover" onclick="confirmDelete(@Model.Id, false)">No</a>
                    </span>
                </div>
            }
            <div class="postHeading col-auto">
                <span id="headingBtn">
                    <a asp-controller="Forum"
                       asp-action="Topic"
                       asp-route-id="@Model.ForumId" class="btn btn-back">
                        Back to @Model.ForumName
                    </a>
                </span>
            </div>
        </div>


        <div class="row" id="postIndexContent">
            <div class="col-md-3 postAuthorContainer">
                <div class="postAuthorImage" style="background-image: url(@Model.AuthorImageUrl)"></div>
                <a asp-controller="Profile" asp-action="Detail" asp-route-id="@Model.AuthorId">
                    @Model.AuthorName
                </a>
                <span class="postDate">@Model.Created</span>

                @if (Model.IsAuthorAdmin)
                {
                    <span class="isAdmin smaller">Admin</span>
                }

            </div>
            <div class="col-md-9 postContentContainer">
                <div class="postContent">
                    @Html.Raw(@Model.PostContent)
                </div>
            </div>
        </div>

        <div class="row" id="replyDivider"></div>

        @if (User.Identity.IsAuthenticated)
        {
            <div class="row" id="postReplyRow">
                <span>
                    <a asp-controller="Reply" asp-action="Create" asp-route-id="@Model.Id" class="btn-newReply ">
                        Post Reply
                    </a>
                </span>
            </div>
        }

        @if (Model.Replies.Any())
        {
            foreach (var reply in Model.Replies)
            {
                <div class="row" id="postIndexContent">
                    <div class="col-md-3 postAuthorContainer" >
                        <div class="postAuthorImage" style="background-image:url(@reply.AuthorImageUrl)"></div>

                        <span class="postHeading" >
                            <span id="deleteSpan_@reply.Id" class="float-right">
                                <a class="btn btn-danger btn-deleteHover" onclick="confirmDelete(@reply.Id, true)">Delete</a>
                            </span>
                            <span id="confirmDeleteSpan_@reply.Id" style="display:none" class="float-right">
                                <a asp-controller="Reply"
                                   asp-action="DeleteReply"
                                   asp-route-postId="@Model.Id"
                                   asp-route-replyId="@reply.Id" class="btn btn-danger">
                                    Yes
                                </a>
                                <a class="btn btn-secondary btn-deleteHover" onclick="confirmDelete(@reply.Id, false)">No</a>
                            </span>
                        </span>

                        <a asp-controller="Profile" asp-action="Detail" asp-route-id="@reply.AuthorId">
                            @reply.AuthorName
                        </a>
                        @if (reply.IsAuthorAdmin)
                        {
                            <div class="isAdmin smaller">Admin</div>
                            <br />
                        }
                        <span class="postDate">@reply.Created</span>
                    </div>
                    <div class="col-md-9 postContentContainer">
                        <div class="postContent">
                            @Html.Raw(reply.ReplyContent)
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="noPosts">
                <h3>
                    There are no replies to this post.<br />
                </h3>
            </div>
        }

    </div>

@section Scripts {
    <script src="~/js/DeleteBtnScript.js"></script>
}
